<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">BS4 & Angular 5 Demo</a>
  <button class="navbar-toggler d-md-down-none mr-auto hamburger1" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <button class="navbar-toggler d-md-down-none hamburger2" type="button" appAsideMenuToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
